@model IEnumerable<B2C2Frietzaak.Models.Product>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InleveropdrachtB2C2Frietzaak.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark text-white-50" style="padding-top: 100px">
    <div>
        <div class="d-flex justify-content-between">
            <h1>Alle Producten</h1>
            <a class="btn btn-outline-primary bi bi-arrow-right" asp-controller="Sauces" asp-action="SaucesOverview"> Naar sauzen</a>
        </div>
        <table class="table table-dark text-white-50">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageUrl)
                    </th>
                    <th>
                        Manage
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            <img src="/@item.ImageUrl" alt="@item.Name" style="height: 100px; width: 100px" /> 
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" asp-action="EditProducts" asp-route-id="@item.ProductId">Edit</a>
                            <a class="btn btn-outline-danger" asp-action="DeleteProducts" asp-route-id="@item.ProductId">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="d-flex">
    <a class="btn btn-outline-success flex-column ms-auto" asp-action="AddProducts" >Product Toevoegen</a>
    </div>
    
</body>
</html> 