@model List<CartItem>


<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InleveropdrachtB2C2Frietzaak.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body class="bg-dark text-white-50">
    <div class="card bg-dark text-white">
        <div class="card-header">
            <div class="card-body">
                @{
                    var totalQuantity = Model.Sum(item => item.Quantity);
                    var totalPrice = Model.Sum(item => item.Product.Price * item.Quantity);
                }
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Saus</th>
                            <th scope="col">Prijs per Product</th>
                            <th scope="col">Aantal</th>
                            <th scope="col">Totaal Prijs</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td>@item.Product.Sauce.SauceName</td>
                                <td>@String.Format("{0:C2}", @item.Product.Price)</td>
                                <td>@item.Quantity Stuk(s)</td>
                                <td>@String.Format("{0:C2}", item.Product.Price * item.Quantity)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p class="text-end fw-bold">Totaal: @String.Format("{0:C2}", @totalPrice)</p>
            </div>
            <div class="d-flex justify-content-between">               
                <a asp-action="Orders" class="btn btn-outline-secondary"><i class="bi bi-arrow-90deg-left"></i></a>
                <a class="btn btn-success" asp-controller="Orders" asp-action="FinalizeOrder">Bestelling Bevestigen</a>
            </div>
            
        </div>
    </div>
</body>
</html>

