@model B2C2Frietzaak.Models.ViewModels.ProductsViewModel

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InleveropdrachtB2C2Frietzaak.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body class="bg-dark text-white-50" style="padding-top: 100px">
        <div class="row">
            <div class="col-md-4 order-2">
                <div class="border mt-4 p-3" style="height: 400px; width:300px">
                    <h5 class="text-end">Cart</h5>
                @if (Model!.Carts! == null)
                {
                    <p class="fst-italic">No Items In Cart</p>
                }
                @* @foreach (var item in Model!.Carts!)
                    {
                        @Html.DisplayFor(modelItem => item.CartItems)
                   
                } *@
                                    
            </div>
            </div>
            <div class="col-md-8 order-1">
                <div class="row">
                @foreach (var item in Model!.Products!) //(https://stackoverflow.com/questions/76723125/dereference-of-a-possibly-null-reference-despite-checking-that-the-value-is-not)
                {
                    <form asp-action="AddToCart" method="post">
                        <td>
                            <label asp-for="@item.ProductId" hidden></label>
                            <input type="text" asp-for="@item.ProductId" hidden />
                        </td>
                        <td>
                            <label asp-for="@item.Name">@item.Name</label>
                            <input type="text" asp-for="@item.Name" hidden/>
                        </td>
                        <td>
                            <label asp-for="@item.Price">@item.Price</label>
                            <input type="text" asp-for="@item.Price" hidden />
                        </td>
                        <td>
                            <label asp-for="@item.ImageUrl" hidden></label>
                            <input type="text" asp-for="@item.ImageUrl" hidden />
                        </td>
                        <button type="submit" class="float-end btn btn-outline-success bi bi-cart"> Toevoegen</button>

                    </form>
                    @* <div class="col-md-6 mb-4 border p-2 m-4" style="width: 350px; height: 350px">
                        <p class="text-center">
                            @Html.DisplayFor(modelItem => item.Name)
                        </p>
                        <p class="text-center">
                            @Html.DisplayFor(modelItem => item.Price)
                        </p>
                        <p class="text-center">
                            <img src="@item.ImageUrl" alt="Image" style="height: 200px; width: 200px" />
                        </p>
                        <button asp-controller="Orders" asp-action="AddToCart" class="float-end btn btn-outline-success bi bi-cart"> Toevoegen</button>
                    </div> *@
                }
            </div>
            </div>
        </div>

</body>
</html>