@model List<Order>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InleveropdrachtB2C2Frietzaak.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body class="bg-dark text-white-50" style="padding-top: 100px">
    <div>
        <h1>User Details</h1>

        @if (Model.Count == 0)
        {
            <p>No orders for this user.</p>
        }
        else
        {
            @foreach (var order in Model)
            {
                <table class="table table-dark text-white">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Order Time</th>
                            <th>Product</th>
                            <th>Saus</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* keep first 2 columns blank if multiple Products in Order *@
                        @foreach (var orderItem in order.OrderItems)
                        {
                            <tr>
                                @if (order.OrderItems.First() == orderItem)
                                {
                                    <td>@order.OrderId</td>
                                    <td>@order.OrderTime</td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }
                                <td>@orderItem.Product.Name</td>                              
                                <td>@orderItem.Sauce?.SauceName</td>
                                <td>@orderItem.Quantity</td>
                            </tr>
                        }                        
                    </tbody>
                </table>
                <p class="text-white float-end">Totaalbedrag: €@order.Total</p>
            }
        }
    </div>
</body>
</html>
